/*Colors*/
* {
  font-family: "Alike", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.menu {
  background-color: #E8BA88;
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 2%;
}
.menu .cont__img {
  display: flex;
  align-items: center;
}
.menu .cont__img .img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.menu .cont__nav {
  width: 70%;
}
.menu .cont__nav .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .cont__nav .nav .nav__list {
  width: 100%;
  height: 100%;
  display: flex;
}
.menu .cont__nav .nav .nav__list-option {
  width: 100%;
  list-style: none;
}
.menu .cont__nav .nav .nav__list-option-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7B4F1F;
}
.menu .cont__nav .nav .nav__list-option-link:hover {
  background-color: #E0A769;
}
.menu .cont__nav .nav .nav__list-option-link:focus {
  background-color: #EFE0C9;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.container {
  width: 100%;
  padding: 2%;
}
.container .container__courses {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.container .container__courses .cont__item-gral {
  width: 100%;
  height: 215px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.container .container__courses .cont__item-gral .courses-item-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #F9D8A7;
  line-height: 38px;
  z-index: 4000;
  position: absolute;
}
.container .container__courses .cont__item-gral .courses-item-button {
  width: 135px;
  height: 48px;
  border-radius: 10px;
  position: absolute;
  border: none;
  background-color: #E8BA88;
  bottom: 20px;
  right: 20px;
  color: #7B4F1F;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  z-index: 5000;
}
.container .container__courses .bg-degrade {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #535252, #B4D3C300);
  z-index: 3000;
}
.container .container__courses .courses-item-1 {
  background-image: url(../../img/card1.png);
}
.container .container__courses .courses-item-2 {
  background-image: url(../../img/card2.png);
}
.container .container__courses .courses-item-3 {
  background-image: url(../../img/card3.png);
}
.container .container__courses .courses-item-4 {
  background-image: url(../../img/card4.png);
}
.container .container__game {
  width: 100%;
  height: 416px;
  margin-top: 2%;
  background-image: url(../../img/cardoraculo.png);
  background-repeat: no-repeat;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.container .container__game .game__button {
  width: 235px;
  height: 56px;
  position: absolute;
  top: 20%;
  left: 41%;
  border-radius: 10px;
  position: absolute;
  border: none;
  background-color: #E8BA88;
  color: #7B4F1F;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  z-index: 5000;
}

/*# sourceMappingURL=styles.css.map */
