header {
    background: $colorTres;
    width: 100%;
    clear: both;
    content: "";
    display: table;
    .menu {
        width: 98%;
        margin: 0 auto;
        .menu__img {
            margin-top: 8px;
            width: 150px;
            height: auto;
            float: left;
            padding: 15px;
            cursor: pointer;
        }
        .navBar {
            float: right;
            .nav__list {
                text-decoration: none;
                display: flex;
                .nav__list-option {
                    list-style: none;
                    padding: 35px 10px;
                    padding: 40px;
                    .nav__list-option-link {
                        text-decoration: none;
                        color: $colorCuatroButton;
                        text-transform: uppercase;
                        font-weight: bold;    
                    }
                    .nav__list-option-link::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $colorSeis;
                    }
                    .nav__list-option-link:hover::after {
                        width: 100%;
                        transition: width 0.3s;
                        }
                }
            }
        }
    }
    
}










  




  
