header {
    background: $colorTres; // REVISAR
    width: 100%;
}
.menu {
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.menu__img {
    width: 120px;
    height: auto;
    padding: 15px;
    cursor: pointer;
}

.navBar {
    display: flex;
}

.nav__list {
    text-decoration: none;
    display: none;  // SERÁ DISPLAY FLEX EN DESKTOP
}

.nav__list-option {
    list-style: none;
    padding: 35px 10px;

}

.nav__list-option-link {
    text-decoration: none;
    color: $colorCuatroButton; // REVISAR
    text-transform: uppercase;
    font-weight: bold;
}
.nav__list-option-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $colorTres;
}
.nav__list-option-link:hover::after {
    width: 100%;
    transition: width .3s;
}

