* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a3c3a3;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;
    .logo {
        background-color: #258e25;
        margin-left: 1.75em;
        width: 7.5%;
    }
    ul {
        display: flex;
        padding: 3em 0;
        li {
            font-size: 1.2rem;
            margin: 0 2em;
            a {
                color: #258e25;
                text-decoration: none;
            }
        }
    }
}

main {
    padding: 1em 2.5em;
    .initialParagraph {
        margin-bottom: 1em;
        width: 75ch;
        h4 {
            font-size: 1.5rem;
            margin-bottom: 0.5em;
        }
        p {
            line-height: 1.25em;
        }
    }
    .cards {
        background-color: lightblue;
        display: flex;
        justify-content: space-between;
        margin: 1.5em 0;
        .card {
            background-color: grey;
            border-radius: 35px;
            display: flex;
            flex-direction: column;
            height: 250px;
            justify-content: space-between;
            padding: 1em;
            width: 22.5%;
            h2 {
                color: #ffe3b0;
                font-size: 1.5rem;
                padding: 0.5em;
            }
            button {
                background-color: #e4b96b;
                border-radius: 10px;
                color: #664609;
                margin-left: auto;
                padding: 0.75em 1em;
                width: 100px;
            }
        }
    }
    .bigPicture {
        background-color: teal;
        display: flex;
        height: 30vh;
        button {
            background-color: #dfc5c9;
            border-radius: 10px;
            color: #664609;
            font-size: 1.5rem;
            margin: 1.75em auto auto auto;
            padding: 0.5em 1.25em;
            width: 325px;
        }
    }
}
